@import "../../shared/scss/variable";

.container{
    width:60%;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;

    & .form-item-input{
        width:40%;
        padding:10px 20px;
        margin:1rem;
        border: 1px solid $navbarButtonColor;
        border-radius:20px;

        &:focus{
            outline: none;
        }
    }

    & .search-button{
        padding:10px 50px;
        margin:2rem;
        background-color:$navbarButtonColor;
        border: 1px solid $navbarButtonColor;
        border-radius:20px;
        color:$appMainTextColor;

        &:hover{
            cursor: pointer;
            background-color:$appMainTextColor;
            color: $navbarButtonColor;
            transition-duration:0.5s;
        }
      
    }
}